beautifulsoup4==4.12.2
dcs-api-client==1.16.8
flask-cors==4.0.0
gunicorn==21.2.0
pip-chill==1.0.3
py-dateutil==2.2
pylint==2.17.5
pymysql==1.1.0
pyyaml==6.0.1
requests==2.31.0
rq==1.15.1
sqlalchemy==2.0.19
statsd==4.0.1
watchtower==3.0.1
